{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title is-1">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                {{ form_widget(registrationForm.email, {'attr':{'class' : 'input'}}) }}
            </div>
            {% if not registrationForm.email.vars.valid %}
                <p class="help is-danger">
                {% for error in registrationForm.email.vars.errors %}
                    {{ error.message }}&nbsp;
                {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                {{ form_widget(registrationForm.username, {'attr':{'class' : 'input'}}) }}
            </div>
            {% if not registrationForm.username.vars.valid %}
                <p class="help is-danger">
                {% for error in registrationForm.username.vars.errors %}
                    {{ error.message }}&nbsp;
                {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                {{ form_widget(registrationForm.plainPassword, {'attr':{'class' : 'input'}}) }}
            </div>
            {% if not registrationForm.plainPassword.vars.valid %}
                <p class="help is-danger">
                {% for error in registrationForm.plainPassword.vars.errors %}
                    {{ error.message }}&nbsp;
                {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Register</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
