{% extends "base.html.twig" %}

{% block body %}

<p> play game {{ game.name}}</p>

<p> Nb players <span id='nb-players'>{{ game.players | length}}</span></p>
{% if game.owner.id == app.user.id and game.state == 'open'  %}
{% set nbPlayers = game.players|length %}
  <p>
    <a href="{{ path('app_game_start', {id: game.id}) }}" id="button-start-game" class="button is-primary" {{ nbPlayers < 2 ? 'disabled="disabled"' : '' }}>Start</a>  
  </p>
{% endif %}

{% if engine is defined %}
  {% for player in engine.players %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
        PLAYER = {{ player.id }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {% for card in player.getCardInHands() %}
            ---{{ app.user.id == player.id ? card : 'BACK CARD' }}---
          {% endfor %}
        </div>
      </div>    
    </div>
  {% endfor %}
{% endif %}



<div data-controller="play-controller" data-play-controller-url-value="{{ mercure(['#play-'~ game.id]) }}" data-play-controller-user-value="{{ app.user.id }}">
  <!-- ... -->
</div>

{% endblock %}