{% extends "base.html.twig" %}

{% block body %}
{% if engine is defined %}
{% set myPlayer = none %}
{% for player in engine.players %}
  {% if player.id == app.user.id %}
   {% set myPlayer = player %} 
  {% endif %}
{% endfor %}
{% set currentPlayer = engine.getCurrentPlayer() %}
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <turbo-frame id="info-zone">
            </turbo-frame>
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{myPlayer.distance}}km</p>
                        <p class="subtitle">ME</p>
                    </article>
                </div>
                {% if myPlayer.getAttackByOpponentCard() is not null %}
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-64x64">
                            <img src="{{asset('build/images/'~ myPlayer.getAttackByOpponentCard() ~ '.png')}}" alt="{{myPlayer.getAttackByOpponentCard()}}">
                        </figure>
                    </article>
                  </div>  
                {% endif %}
            </div>
            {% if currentPlayer.id == myPlayer.id %}
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        {% if currentPlayer.getCardInHands()|length < 7 %}
                        <turbo-frame id='button-take-card-frame' class="tile">
                          <p class="title">
                            <a href="{{ path('app_game_take_card_in_deck', {id: game.id}) }}" id="button-take-card" class="button is-primary">Take card</a>  
                          </p>
                        </turbo-frame>
                        {% endif %}  
                        <turbo-frame id='button-play-frame'>
                          <a href="{{ path('app_game_play_card', {id: game.id}) }}" id="button-play-card" class="button is-primary" data-turbo="false">Play the card</a>  
                        </turbo-frame>
                    </article>
                </div>
            </div>
            {% endif %}
            <div class="columns is-multiline">
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="container">
                              <div id='weapon' class="weapon">
                              {% for card in myPlayer.getWeaponOnTable() %}
                                <figure class="image is-64x64">
                                    <img src="{{asset('build/images/'~ card ~ '.png')}}" alt="{{card}}">
                                </figure>
                              {% endfor %}
                              </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="container">
                              <div id='table' class="dropzone table"></div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                          <turbo-frame id="trash-zone">
                            <div class="container">
                              <div id='trash' class="dropzone trash">
                                <!--<img src="{{ asset('build/images/trash.png')}}" />-->
                              </div>
                            </div>
                          </turbo-frame>
                        </article>
                    </div>
                </div>
                
                <div class="tile is-ancestor has-text-centered">
                  <div class="tile is-parent">
                      <turbo-frame id="player-cards">
                      {% for card in myPlayer.getCardInHands() %}
                        <div class="tile is-child dropzone draggable-dropzone--occupied">
                            <article class="item tile is-child" data-code='{{card}}'>
                                <figure class="image is-64x64">
                                    <img src="{{asset('build/images/'~ card ~ '.png')}}" alt="{{card}}">
                                </figure>
                            </article>
                        </div>
                      {% endfor %}
                      </turbo-frame>
                  </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="container">
            {% for player in engine.players %}
                {% if player.id != app.user.id %}
                  <div class="tile is-ancestor has-text-centered player-box">
                      <div class="tile is-parent">
                          <article class="tile is-child box">
                              <p class="title">{{player.distance}}km</p>
                              <p class="subtitle">PLAYER {{player.id}}</p>
                          </article>
                      </div>
                      <div class="tile is-parent">
                      {% for card in player.getWeaponOnTable() %}
                        <figure class="image is-64x64">
                            <img src="{{asset('build/images/'~ card ~ '.png')}}" alt="{{card}}">
                        </figure>
                      {% endfor %}
                      </div>
                      <turbo-frame id="attack-zone-{{player.id}}-frame">
                        {% if player.getAttackByOpponentCard() is not null %}
                          <div class="tile is-parent">
                            <article class="tile is-child box">
                              <figure class="image is-64x64">
                                <img src="{{asset('build/images/'~ player.getAttackByOpponentCard() ~ '.png')}}" alt="{{player.getAttackByOpponentCard()}}">
                              </figure>
                            </article>
                          </div>
                        {% else %}
                          <div class="tile is-parent">
                            <article class="tile is-child box">
                              <div id='attack-zone-{{player.id}}' class="{{currentPlayer.id == app.user.id ? 'dropzone' : ''}} attack" data-playerId="{{player.id}}">YOU CAN ATTACK {{ player.id}}</div>
                            </article>
                          </div>
                        {% endif %}
                      </turbo-frame>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

  <div data-controller="play-controller" data-play-controller-url-value="{{ mercure(['#play-'~ game.id]) }}" data-play-controller-user-value="{{ app.user.id }}">
    <!-- ... -->
  </div>

{% endblock %}