<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <i class="is-large fab fa-discord"></i>
              <i class="is-large fas fa-code"></i>
              <h1 class="title">1000 <em>bornes</em></h1>
             </div>
          </div>
        </div>
      </div>
    </section>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{path('app_game_new')}}">Nouveau</a></li>
            <li><a href="{{path('app_game_list')}}">Browse</a></li>
            {% else %}
            <li><a href="{{path('app_login')}}">Login</a></li>
            <li><a href="{{path('app_register')}}">Register</a></li>
        {% endif %} 
            </ul>
        </nav>
        <section class="section">
            <div class="container">
                <div class="columns">
        {% block body %}{% endblock %}
                </div>
            </div>    
        </section>
    </body>
</html>
